.cadastro-estilo{

    text-align: center;
    border: 1px;
}
.head{
    width: 100%;
    height: 600px;
    background: #076585; 
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(56, 191, 245, 0.644), #2a13f58f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(25, 255, 236, 0.507), #1a75fd9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
